*{
    margin: 0px;
    padding: 0px;
}

h2.text-center.mt-4.titleproduct {
    color: wheat;
}

.d-flex.justify-content-around.mb-3.mt-4 {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.listtable {margin-right: 80px;margin-left: 80px;margin-top: 30px;margin-bottom: 15px;}
.listtableall{
    background-color: #0d3c15;
}

h3.text-center.titleCategory {
    padding-top: 96px;
    color: #2b883c;
    font-size: 40px;
}

.noidung {
    width: 100%;
    height: 100%;
    background-color: #a2f7b0;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: #0d3c15;
}

div#navbarTogglerDemo01 {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    height: 100%;
}

.row.head{
    position: relative;
}
h2.text-center.mt-5 {
    color: #17a2b8ad;
    font-size: 40px;
    text-transform: uppercase;
    animation: mover 3s ease;
    position: absolute;
    transition: 2s;
    width: 100%;
}
@-webkit-keyframes mover {
    from{
        top: -100px;
    }
    to{
        top: 0px;
    }
}


.alltable {
    border: 6px solid lavender;
    width: 100%;
    height: 500px;
    margin-top: 150px;
}

a.btn.btn-success {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 83px;
    background-color: #28a745;
    border: 5px solid #b7da72;
    border-radius: 13%;
    text-transform: uppercase;
    font-weight: 800;
}

a.nav-link.btn.btn-success {
    width: 128px;
    margin-left: 34px;
}


